<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/sfj.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
</head>
<body>
<header>
    <div class="title">
        <h1>Поважный Петр Александрович</h1>
        <h2>WEB - DEVELOP/ASP/MVC/HTML/CSS/jQ/MVVM/.Net/</h2>
    </div>
</header>
<div class="bContent">
    <div class="contWrap">
        @RenderBody()
    </div>
</div>
<footer>
    foot
</footer>
</body>
</html>
