<ul class="menu">
    <li data-bind="click: getPersons()">Все люди</li>
    <li onclick="getGirl(false)">Девушки</li>
    <li onclick="getGirl(true)">Мужчины</li>
    <li>Свободные</li>
    <li>Супруги</li>
</ul>