
@{
    ViewBag.Title = "О Авторе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section links{
<link href="~/Content/mainCSS.css" rel="stylesheet" />
}
<div class="container">
    <div class="row">
        <div class="head">
            <h1>Поважный Петр Александрович</h1>
            <h3>соискатель на должность программиста</h3>
            <div class="contacts">
                <h4>+7-928-373-16-13</h4>
                <p>e-mail: c592@yandex.ru</p>
                <p>355035, г. Ставрополь</p>
                <p>пр. К. Маркса, 100</p>
            </div>
        </div>
        <div class="about">
            <article>
                <h3>Кратко о себе</h3>
                <p>
                    Мне 32 года (29 августа 1984). Постоянно поживаю в г. Ставрополе. Женат. Ребенок 7 лет.
                </p>
                <p>
                    О себе могу сказать, что я целеустермленный, творческий человек с широким кругом интересов в разных областях.
                    В основном увлекаюсь разработкой ПО для IBM PC, но помимо программирования(о нем чуть позже) увлекаюсь естественными науками, астрономией.
                    Люблю проводить время на свежем воздухе, вдали от городской суеты. Люблю путешествовать, побывал более чем в 10 городах России(от Махачкалы
                    до Пензы). Обладаю широким кругозором, хотя в общении веду себя сдержано.
                </p>
                <p>
                    Разработкой занимаюсь с 2010г. Начиная  с Object Pascal(Delphi 7) в настоящее время работаю в VS15 .Net. Разработка приложений - полный цикл.<br/> Опыт работы с:
                    <ul>
                        <li>MS SQL Server 2010, Firebird;</li>
                        <li>ORM Entity Framework;</li>
                        <li>MVC, MVVM patterns;</li>
                        <li>Frontend HTML CSS;</li>
                        <li>Продвижение Яндекс директ;</li>
                    </ul>
                </p>
            </article>
        </div>
        <div class="education">
            <article>
                <h3>Образование</h3>
                <table class="table table-responsive table-condensed">
                    <thead>
                    <tr>
                        <td>Год <br/>поступления</td>
                        <td>Учебное заведение, специальность</td>
                        <td>Год <br/>окончания</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1992</td>
                        <td>
                            Средняя общеобразовательная школа №1 с углубленным изучением английского языка. Дневная форма обучения.
                        </td>
                        <td>2001</td>
                    </tr>
                    <tr>
                        <td>2001</td>
                        <td>Северо-Кавказский Политехнический Университет. Специальность "Автоматизированные системы обработки и управления (АСОУ)".
                            Обучался на бюджетной основе. Средний бал 4. Синий диплом с отличием.</td>
                        <td>2006</td>
                    </tr>
                    </tbody>
                </table>
            </article>
        </div>
        <div class="army">
            <article>
                <h3>Военная служба</h3>
                <p>Не служил.</p>
            </article>
        </div>
        <div class="work">
            <article>
                <h3>Опыт работы</h3>
                <table class="table table-responsive table-condensed">
                    <thead>
                    <tr>
                        <td>С</td>
                        <td>Место работы</td>
                        <td>Должность</td>
                        <td>По</td>
                        <td>Причина <br/>увольнения</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2003</td>
                        <td>
                            ООО "Принт-Сервис" - торговля компьютерами.
                        </td>
                        <td>Продавец-консультант</td>
                        <td>2005</td>
                        <td>Низкая З/П.</td>
                    </tr>
                    <tr>
                        <td>2005</td>
                        <td>
                            ООО "ПКП "Искра" - торговля компьютерами.
                        </td>
                        <td>Пришел на должность продавца консультанта. На момент увольнения занимал должность Руководителя торговой точки.</td>
                        <td>2007</td>
                        <td>Отсутствие карьерного роста. Предложили более выгодное место работы.</td>
                    </tr>
                    <tr>
                        <td>2007</td>
                        <td>
                            ООО "НПО "Инженерные системы" - системный интегратор.
                        </td>
                        <td>Пришел на должность продавца. Был уволен в должности директора дочерней компании ООО"ТрейдКом"</td>
                        <td>20010</td>
                        <td>Непреодолимые разногласия с руководителем.</td>
                    </tr>
                    <tr>
                        <td>2010</td>
                        <td>
                            Работал агентом, паралельно занимался программированием.
                        </td>
                        <td></td>
                        <td>Настоящее время: Фрилансер</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </article>
        </div>
        <div class="skils">
            <article>
                <h3>Профессиональные навыки</h3>
                <ul>
                    <li>С#</li>
                    <li>SQL</li>
                    <li>Entity Framework 6 (code first)</li>
                    <li>ASP .Net</li>
                    <li>Web API</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS +/-</li>
                    <li>KnockoutJS</li>
                    <li>WPF XAML +/-</li>
                    <li>WCF +/-</li>
                </ul>
            </article>
        </div>
        <div class="develop">
            <article>
                <h3>Опыт в разработке:</h3>
                <p>
                    За период с 2010г. освоил .Net на уровне уверенного пользователя. Оценить свои знания могу на уровне - "Мне говорят, что я крутой программист".
                    В Ставрополе мало вакансий по направлению разработчик .Net, поэтому официального трудоустройства нет, работаю по заказам в частном порядке. 
                    Один из последних проектов www.id-racks.ru. В данном проекте все сделано мной. 
                    Я уравновешенный человек, стрессоустойчив, конструктивно отношусь к критике.
                </p>
                <p>
                    Причины поиска работы - личный рост.
                </p>
            </article>
        </div>
    </div>
</div>


