@model IEnumerable<TestApp.Models.Person>
@{
    ViewBag.Title = "PersonsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section links
{
<link href="~/Content/TestCSS.css" rel="stylesheet" />
}
@section scripts
{
<script src="~/Scripts/jsTest/ajaxProp.js"></script>
<script src="~/Scripts/jsTest/models.js"></script>
<script src="~/Scripts/jsTest/PersonController.js"></script>
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("placeholders/Filters")
        </div>
        <div class="col-md-9">
            <div data-bind="visible:model.currentView()=='list'">
                @Html.Partial("placeholders/listPersons")
            </div>
        </div>
    </div>
</div>


