
@{
    ViewBag.Title = "PersonsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section links
{
<link href="~/Content/TestCSS.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <h2>PersonsDetails</h2>
    </div>
</div>


