@{
    ViewBag.Title = "Sfj";
    Layout = "~/Views/Shared/_sfj.cshtml";
}

<div class="aboutMe">
    <h3>Добрый день, меня зовут Петр и я ищу работу web-разработчика</h3>
    <div class="imgWrapper">
        <img alt="" src="/Content/img/me.png"/>

    </div>
    <div class="descr">
        <ul>
            <li><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> проживаю в г. Ставрополь</li>
            <li><i class="fa fa-mobile fa-2x" aria-hidden="true"></i> +7-928-373-16-13</li>
            <li><i class="fa fa-envelope-o fa-2x" aria-hidden="true"> </i><a href="mailto:manfice@yandex.ru"> manfice@yandex.ru</a></li>
            <li><i class="fa fa-skype fa-2x" aria-hidden="true"></i> Skype: manfice</li>
        </ul>
    </div>
</div>
<div class="myProf">
    <h3>Я работаю с</h3>

    <div class="workWith">
        <img alt="" src="/Content/img/net200.png"/>
        <img alt="" src="/Content/img/html200.png"/>
        <img alt="" src="/Content/img/css200.png"/>
        <img alt="" src="/Content/img/js200.png"/>
    </div>
    <h3>среда разработки и инструменты</h3>
    <div class="workWith">
        <img alt="" src="/Content/img/c200.png"/>
        <img alt="" src="/Content/img/vs200.jpg"/>
        <img alt="" src="/Content/img/ef200.jpg"/>
        <img alt="" src="/Content/img/sql200.png"/>
        <img alt="" src="/Content/img/gh200.png"/>
        <img alt="" src="/Content/img/ko200.png"/>

    </div>
</div>
<div class="myPlus">
    <h3>мои преимущества</h3>
    <ul>
        <li>
            <div class="plItem">
                <h4><i class="fa fa-bell-slash-o fa-2x" aria-hidden="true"></i>Стрессоустоичив</h4>
                <p>...</p>
            </div>
        </li>
        <li>
            <div class="plItem">
                <h4><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>Решаю любые задачи</h4>
                <p>...</p>
            </div>
        </li>
        <li>
            <div class="plItem">
                <h4><i class="fa fa-tasks fa-2x" aria-hidden="true"></i>Многозадачный</h4>
                <p>...</p>
            </div>
        </li>
        <li>
            <div class="plItem">
                <h4><i class="fa fa-users fa-2x" aria-hidden="true"></i>Коммуникабельный</h4>
                <p>...</p>
            </div>
        </li>

    </ul>
</div>